﻿* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
}
   
a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1, h2 {
    color: #444;
    font-size: 15px;
}

h3 {
    color: #999;
}

.btn {
    background: #4cbb17;
    color: white;
    padding: 5px 10px;
    text-align: center;
    border-radius: 20px;
}

    .btn:hover {
        color: #54f05e;
        background: white;
        padding: 3px 8px;
        border: 2px solid #54f05e;
    }

.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}

table {
    padding: 10px;
}

th, td {
    text-align: left;
    padding: 8px;
}

.side-menu {
    position: fixed;
    background: #D4F9CC;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

    .side-menu .brand-name {
        height: 22vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: rgb(255, 255, 255);
}

    .container .header {
        position: fixed;
        top: 0;
        right: 0;
        width: 80vw;
        height: 10vh;
        background: #9FD4A3;
        display: flex;
        align-content: center;
        justify-content: center;
    }

        .container .header .nav {
            width: 90%;
            display: flex;
            align-items: center;
            border-radius: 100px;
        }

            .container .header .nav .search {
                flex: 3;
                display: flex;
                justify-content: center;
            }

                .container .header .nav .search input[type=text] {
                    border: none;
                    background: #d4e0d1;
                    padding: 10px;
                    width: 50%;
                }

                .container .header .nav .search button {
                    width: 40px;
                    height: 40px;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                    .container .header .nav .search button img {
                        width: 30px;
                        height: 30px;
                    }

            .container .header .nav .user {
                flex: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

                .container .header .nav .user img {
                    width: 40px;
                    height: 40px;
                }

                .container .header .nav .user .img-case {
                    position: relative;
                    width: 50px;
                    height: 50px;
                }

                    .container .header .nav .user .img-case img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }

    .container .content {
        position: relative;
        margin-top: 10vh;
        min-height: 90vh;
    }

        .container .content .cards {
            padding: 20px 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            border-radius: 10px;
        }

            .container .content .cards .card {
                width: 350px;
                height: 150px;
                background: #D4F9CC;
                margin: 20px 10px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                border-radius: 20px;
            }

        .container .content .content-2 {
            min-height: 60vh;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            flex-wrap: wrap;
        }

            .container .content .content-2 .recent-entry {
                min-height: 50vh;
                flex: 5;
                background: #D4F9CC;
                margin: 0 25px 25px 25px;
                display: flex;
                flex-direction: column;
                border-radius: 20px;
            }

            .container .content .content-2 .student-graph {
                flex: 2;
                background: #D4F9CC;
                min-height: 50vh;
                margin: 0 25px;
                border-radius: 20px;
            }

canvas {
    display: block;
    margin: 20px auto;
    border: 1px solid #ccc;
    border: none;
}

@media screen and (max-width:1050px) {
    .side-menu li {
        font-size: 18px;
    }
}
