* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
id-preview-modal {
    display: table-cell;
}

.id-preview-modal img {
    padding: 20px 0px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    display: center;
    filter: drop-shadow(0px 10px 15px #000000)
}

#lrn-generate-id {
    width: 150px;
}

#full-name-generate-id, #faculty-generate-id {
    width: 300px;
}

#grade-generate-id {
    width: 50px;
}

#section-generate-id {
    width: 170px;
}


#generate-id-column {
    width: 130px;
}

body {
    margin: 0; /* Remove default margin */
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.wrapper {
    display: flex;
    min-height: 100vh; /* Make the wrapper at least 100% of the viewport height */
}

.sidebar {
    width: 350px;
    background-color: #d4f9cc; /* Green color */
    color: #000;
    padding-top: 20px;
    height: 100vh; /* Make the sidebar full height of the viewport */
}

#mwnhs-banner {
    width: 330px;
}

.sidebar h2 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 20pt;
    font-weight: 700;
    text-transform: uppercase;
}

.sidebar ul.nav {
    flex-direction: column;
    padding-left: 0;
    display: ruby;
}


    .sidebar ul.nav li {
        list-style: none;
    }

        .sidebar ul.nav li a {
            color: #000;
            padding: 10px 20px;
            display: block;
            text-decoration: none;
            margin-bottom: -20px;
        }

            .sidebar ul.nav li a:hover {
                background-color: rgba(0, 0, 0, 0.2);
            }

.content {
    flex: 1;
    padding: 20px;
}



@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }
}
