* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0; /* Remove default margin */
    font-family: Poppins, sans-serif;
    background-color: #f8f9fa;
}

.wrapper {
    display: flex;
    min-height: 100vh; /* Make the wrapper at least 100% of the viewport height */
}

.sidebar {
    width: 250px;
    background-color: #d4f9cc; /* Green color */
    color: #000;
    padding-top: 20px;
    height: 100vh; /* Make the sidebar full height of the viewport */
}

#mwnhs-banner {
    width: 220px;
}

.sidebar h2 {
    display:ruby;
    padding-bottom:20px;
    font-size: 20pt;
    font-weight: 900;
    text-transform: uppercase;
}

.sidebar h6 {
    margin-top: 10px
}

    .sidebar ul.nav {
        flex-direction: column;
        padding-left: 0;
        display: ruby;
    }
    

        .sidebar ul.nav li {
            list-style: none;
        }

            .sidebar ul.nav li a {
                color: #000;
                padding: 10px 20px;
                display: block;
                text-decoration: none;
                margin-bottom: -20px;
            }

                .sidebar ul.nav li a:hover {
                    background-color: rgba(0, 0, 0, 0.2);
                }

.content {
    flex: 1;
    padding: 20px;
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }
}