* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
body {
    margin: 0; /* Remove default margin */
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.wrapper {
    display: flex;
    min-height: 100vh; /* Make the wrapper at least 100% of the viewport height */
}

.sidebar {
    width: 350px;
    background-color: #d4f9cc; /* Green color */
    color: #000;
    padding-top: 20px;
    height: 100vh; /* Make the sidebar full height of the viewport */
    display: flex;
    flex-direction: column;
    flex-direction: column;
}

#mwnhs-banner {
    width: 330px;
}

.sidebar h2 {
    text-align: center;
    font-size: 20pt;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: -10px;
}

.sidebar h6 {
    display: block;
}

    .sidebar ul.nav {
        flex-direction: column;
        padding-left: 0;
        display: ruby;
    }
    

        .sidebar ul.nav li {
            list-style: none;
            font-size: 16pt;
        }
            
            .sidebar ul.nav li img {
                display: inline-block;
                float: left;
                margin-right: 5px;
                height: auto;
                width: 30px;
            }

            .sidebar ul.nav li a {
                color: #000;
                padding: 10px 20px;
                display: block;
                text-decoration: none;
                margin-bottom: -20px;
            }

                .sidebar ul.nav li a:hover {
                    background-color: rgba(0, 0, 0, 0.2);
                }

                

.content {
    flex: 1;
    padding: 20px;
}



@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }
}